[Desktop Entry]
Type=Application
Name=XfPolKit
Comment=Policykit Authentication Agent
Comment[am]=የፖሊሲኪት አረጋጋጭ
Comment[ar]=أداة توثيق Policykit
Comment[be]=Агент аўтарызацыі Policykit
Comment[bg]=Агент за удостоверяване
Comment[bn]=Policykit প্রমাণীকরণ এজেন্ট
Comment[bn_IN]=Policykit Authentication Agent
Comment[bs]=Policykit Agent autentifikacije
Comment[ca]=Agent d'autenticació Policykit
Comment[cs]=Ověřovací agent PolicyKit
Comment[da]=Policykit Authentication Agent
Comment[de]=PolicyKit-Authentifizierungsdienst
Comment[el]=Policykit Authentication Agent
Comment[en_GB]=Policykit Authentication Agent
Comment[eo]=Aŭtentokontrolilo de Policykit
Comment[es]=Agente de autenticación Policykit
Comment[et]=Policykit Autentimise Agent
Comment[eu]=Policykit autentifikazio-agentea
Comment[fa]=بسته‌ي سیاست اعتباردهی
Comment[fi]=Policykit-varmennusagentti
Comment[fo]=Policykit váttanar fulltrúi
Comment[fr]=Agent d'authentification PolicyKit
Comment[gl]=Axente de autenticación Policykit
Comment[he]=סוכן אימות מול ערכת מדיניות
Comment[hr]=Agent pravila ovjere
Comment[hu]=Policykit hitelesítési ügynök
Comment[id]=Agen Otentikasi PolicyKit
Comment[it]=Agente di autenticazione per Policykit
Comment[ja]=Policykit 認証エージェント
Comment[kk]=Policykit аутентификация агенті
Comment[km]=Policykit Authentication Agent
Comment[kn]=ಪಾಲಿಸಿಕಿಟ್ ಅಥೆಂಟಿಕೇಶನ್ ಏಜೆಂಟ್
Comment[ko]=PolicyKit 인증 대리자
Comment[lg]=Puloguramu ey'okukakasa bisaanyizo mu nkola ya PolicyKit
Comment[lt]=Policykit autentikacijos priemonė
Comment[nb]=Identitetsbekreftelse for Policykit
Comment[nl]=Policykit authenticatie-agent
Comment[pl]=Agent uwierzytelniania Policykit
Comment[pt]=Agente de autenticação Policykit
Comment[pt_BR]=Agente de autenticação Policykit
Comment[ro]=Agent de autentificare PolicyKit
Comment[ru]=Агент аутентификации PolicyKit
Comment[si]=Policykit සත්‍යාපන නියෝජිත
Comment[sk]=Autentifikačný agent PolicyKit
Comment[sl]=Agent overitve PolicyKit
Comment[sr]=ПолисиКит агент за аутентификацију
Comment[sr@latin]=PolisiKit agent za autentifikaciju
Comment[sv]=Identitetsagent för Policykit
Comment[te]=పాలసీసామాగ్రి ప్రమాణీకరణ వాహకం
Comment[tr]=Policykit Yetkilendirme Vekili
Comment[tt_RU]=PolicyKit аутентификация менеджеры
Comment[ug]=سالاھىيەت دەلىللەش ۋەكىلى - Policykit
Comment[uk]=Агент авторизації Policykit
Comment[vi]=Chính sách chứng nhận độc quyền
Comment[zh_CN]=Policykit 认证代理
Comment[zh_TW]=Policykit 身分核對代理程式
Exec=/usr/lib/xfpolkit/xfpolkit
Icon=gtk-dialog-authentication
NotShowIn=GNOME;KDE;MATE;Razor;LxQT;
